@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (max-height: 640px) {
    .h-sm-block {
      display: flex !important;
    }
  }

  @media (max-height: 480px) {
    .h-xsm-hidden {
      display: none !important;
    }
  }

  @media (max-height: 480px) {
    .h-xsm-top-1 {
      top: 1rem !important;
    }
  }
}
